/* app css stylesheet */

.cursor {
    cursor: pointer;
}
.search {
    width: 600px;
    margin: 0 auto;
}

.thumbnail {
    margin: 20px 0 0;
}

.episodes {
    margin: 0 20px;
}
.episodes .magnet {
    display: inline;
}
