/* app css stylesheet */

.cursor {
    cursor: pointer;
}
.search {
    width: 600px;
    margin: 0 auto;
}

.thumbnail {
    margin: 20px 0 0;
}

.episodes {
    margin: 0 20px;
}

.episodes .new {
    background-color: #faf8f0;
    border-color: #faebcc;
}

.episodes .border {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    border-right: 1px solid #e5e5e5;
}

.episodes .magnet {
    display: inline;
}

.shows .no-right {
    padding-right: 0;
    margin-right: 0;
}
